.content {
	.subnav ul {
		border-bottom: none;
		text-align: center;
		margin-bottom: 0;
		> li {
			margin-bottom: 0px;
			> a {
				display: block;
				margin-right: 0px;
				border: none;
				border-radius: 0;
				color: $gray;
				padding: 25px 15px;
				@include font-lato-black;
				text-transform: uppercase;
				letter-spacing: 1px;
				&:hover {
					border-color: transparent;
					color: $base-color;
				}
				@media #{$media-xs} {
					padding: 16px 8px;
					font-size: 12px;
				}
			}

			&.active > a {
				&,
				&:hover,
				&:focus {
					color: $base-color;
					background-color: transparent;
					border: none;
					border-bottom-color: transparent;
					cursor: default;
				}
			}
		}
	}

	.bg-white {
		.head {
			@include box-shadow(0 8px 6px -6px #E2E2E2);
			padding-top: 20px;
			padding-bottom: 20px;
			margin-bottom: 25px;

			ul.list-inline {
				margin: 0;
				li {
					a {
						display: block;
						margin-right: 0px;
						border: none;
						border-radius: 0;
						color: $gray;
						@include font-lato-black;
						text-transform: uppercase;
						letter-spacing: 1px;
						padding: 8px 12px;
						&:hover,
						&:focus {
							color: $brand-primary;
						}
					}
				}
				&.order-table-icons {
					margin:11px 0 0;
					li {
						position:relative;
						color: $light-gray;
						text-transform: uppercase;
						@include font-lato-bold();
						svg {
							fill: $light-gray;
							width: 20px;
							height: 20px;
							float: left;
							margin-right: 7px;
						}
						a {
							position: absolute;
							left: 0;
							right: 0;
							margin: 0 auto;
							width: 100%;
							height: 100%;
							padding: 0;
						}
						&:hover,
						&:focus {
							color: $brand-primary;
							svg {
								fill: $brand-primary;
							}
						}
					}
				}
			}
		}
	}

	.product-ordered-title{
		text-align: center;
		padding: 30px 0 40px;
		span.help-block {
			margin: 0 0 5px;
			color: $light-gray;
		}
		h4 {
			margin-top: 0;
		}
	}

	.box {
		margin-bottom: 30px;
		.title {
			color: $gray;
			font-size: 14px;
			border-bottom:1px solid $lighten-gray;
			padding: 0 0 5px;
		}
		.matter {
			h5 {
				margin-bottom: 15px;
			}
			p.help-block {
				margin: 0 0 2px;
				color: $light-gray;
			}
		}
	}

	.product-ordered-tbl {
		tr {
			cursor: pointer !important;
			td,
			th {
				vertical-align: bottom;
				padding: 10px 8px;
				border-top-color: $lighten-gray;
			}
			th {
				text-align: center;
			}
			td {
				img {
					float: left;
					margin-right: 12px;
				}
				p {
					margin: 0;
					display: inline-block;
					span.help-block {
						margin-bottom: 0;
					}
				}
			}
			&:last-child {
				td,
				th {
					padding: 20px 0;
				}
			}
			&:first-child {
				td,
				th {
					border-top-color:transparent;
				}
			}
		}
	}
	.order-totals {
		background-color:transparent;
		margin-bottom: 0;
		tr {
			td,
			th {
				border-color:transparent !important;
				padding: 0 !important;
			}
			td {
				width: 75%;
				text-indent: 27%;
				color: $light-gray;
			}
			th {
				width: 25%;
			}
		}
	}

	//Datatables
	.dataTable {
		thead th, 
		thead td {
			padding: 8px 10px;
		    border-bottom: 1px solid #eeeeee;
		    color: #aaaaaa;
		    font-size: 14px;
		}
		tbody tr th, 
		tbody tr td {
			font-size: 14px;
			vertical-align: middle;
		    border-color:#eeeeee;
		    color: #000000;
		}
		tbody tr.table_row td:last-child::after {
			content: "\0203A";
			position: absolute;
			right: 15px;
			color: $brand-primary;
			font-size: 30px;
			line-height: 0;
			margin-top: 8px;
		}
		&.no-footer {
		    border-bottom: 1px solid #eeeeee;
		}
	}
	#dTablesProducts_wrapper,
	#dTableOrder_wrapper {
		padding-bottom: 30px;
	}
	#dTablesProducts {
		&.dataTable tbody th, 
		&.dataTable tbody td {
			&:first-child {
				@include font-lato-black;
				img {
					margin-right: 15px;
				}
			}
		}
	}
	#dTableOrder {
		tbody tr th, 
		tbody tr td {
			padding: 22px 10px;
		}
		table {
			margin-bottom: 0;
			thead tr th, 
			thead tr td,
			tbody tr th, 
			tbody tr td {
				padding: 12px 10px !important;
			}	
		}
	}
	// Edit product form
	form.editProduct {

		.fields {
			margin-bottom: 10px;
		}
		
		.form-footer {
			padding-top: 20px;
			padding-bottom: 20px;
			margin-top: 25px;
			border-top: 1px solid #eeeeee;

			ul.list-inline {
				margin: 0;
				li {
					a {
						display: block;
						margin-right: 0px;
						border: none;
						color: $gray;
						padding: 8px 12px;
						&:hover,
						&:focus {
							color: $brand-primary;
						}
					}
				}
			}
		}

		.addVariant,
		.addPhoto {
			display: inline-block;
			cursor: pointer;
			text-transform: uppercase;
			@include font-lato-black();
			color: $gray;
			font-size: 12px;
			.plus-icon {
				margin-right: 5px;
				fill: $gray;
				width: 20px;
				height: 20px;
				float: left;
			}
			&:hover {
				color: $brand-primary;
				.plus-icon {
					fill: $brand-primary;
				}
			}
		}

		.thumbnail {
			@include thumbnail-nostyle();
			border-bottom:1px solid $lighten-gray;
			margin-bottom: 20px;
			.caption {
				padding-left: 0;
				padding-right: 0;
				ul.list-inline {
					margin: 0;
					li {
						position: relative;
						margin: 0 10px;
						padding: 0;
						a {
							display: block;
							width: 20px;
							height: 20px;
							background: url(../img/thumb-icons.png) 0 0 no-repeat;
							&.pencil_icon {
								background-position: 0 0;
								&:hover,
								&:focus {
									background-position: 0 -21px;
								}
							}
							&.close_icon {
								background-position: -19px 0;
								&:hover,
								&:focus {
									background-position: -19px -21px;
								}
							}
							&.star_icon {
								background-position: -37px 0;
								&.active,
								&:hover,
								&:focus {
									background-position: -37px -21px;
								}
							}
						}
						&:hover,
						&:focus {
							svg {
								fill: $brand-primary;
							}
						}
					}
				}
			}
		}
		
	}
}

#acceptByDispensary {
	margin-bottom: 20px;
}