
// Body
$body-bg: #EEEEEE;

// Brands
$brand-primary: #21DB00;
$brand-primary-hover: #19a800;

$brand-info: #3498db;
$brand-success: #2ecc71;
$brand-warning: #f1c40f;
$brand-danger: #e74c3c;

$gray: #AAAAAA;
$light-gray: #BBBBBB;
$lighten-gray: #E7E7E7;
$base-color: #111111;
$base-color-alt: #222222;

// Typography
$font-family-sans-serif: 'Lato', sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: $base-color;

$link-color: $brand-primary;
$link-color-hover: $brand-primary-hover;

// Navbar
$navbar-height: 60px;
$navbar-default-bg: #fff;
$navbar-top-border: 8px;
$navbar-top-border-color: $brand-primary;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: $lighten-gray;
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Sidebar
$sidebar-bg: $base-color-alt;
$sidebar-title-color: $gray;
$sidebar-option-color: #666666;
$sidebar-option-color-selected: #ffffff;
$sidebar-border-color: #444444;

// Media query
$media-xxs: "(max-width : 479px)";
$media-xs: "(max-width : 767px)";
$media-sm: "(min-width : 768px) and (max-width : 991px)";
$media-md: "(min-width : 992px) and (max-width : 1199px)";
$media-lg: "(min-width : 1200px)";