// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


/* Custom css */
@import "modules/common";
@import "modules/header";
@import "modules/footer";
@import "modules/home";
@import "modules/form";
@import "modules/profile";
@import "modules/ui-datepicker";
@import "modules/modals";
@import "modules/products";
@import "modules/sidebar";
@import "modules/datatables";
@import "modules/dispensary";
@import "modules/cart";
@import "modules/other";
@import "modules/landing";

.permissions {
	@include clearfix();
	.checkbox {
		display: inline-block;
		margin: 0 10px 10px 0;
	}
}