.cart {
	&-error {
		padding: 50px 0;
		background:#fff;
		text-align: center;
		height: 100%;
		min-height: 400px;
	}
	.order-totals {
		background: #fff;
		td {
			border: none;
			text-indent: 120px;
			padding-top: 5px;
			padding-bottom: 5px;
			color: $light-gray;
		}
		th {
			text-align: center;
			border: none;
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}
	.cart-page-nav {
		text-align:center;
		ul.list-inline {
			margin: 0 auto;
			width: 95%;
			li {
				padding: 24px 10px;
				@media #{$media-xs} {
					padding:10px 10px 0;
					&:last-child {
						padding-bottom:10px;
					}
				}
				position: relative;
				a {
					display: block;
					@include font-lato-black();
					text-transform: uppercase;
					letter-spacing: 1px;
					color: $light-gray;
					border-bottom:2px solid transparent;
				}
				&.default {
					a {
						color: $brand-primary;
					}
				}
				&.active {
					a {
						color: $base-color;
						border-bottom-color: $base-color;
					}
				}
				&::after {
					content: ">";
					position: absolute;
					width: 12px;
					height: 12px;
					color: $light-gray;
					right: -6px;
					top: 26px;
					font-size: 12px;
					@media #{$media-xs} {
	 				top: 12px;	
					}
				}
				&:last-child {
					&::after {
						display: none;
					}
				}
			}
		}
	}
	.product-ordered-title {
		text-align: center;
		padding: 30px 0;
	}
	.product-ordered-tbl {
		tr {
			cursor: default !important;
			td,
			th {
				overflow: visible;
				position:relative;
				vertical-align: bottom;
				img {
					float: left;
					margin-right: 10px;
				}
				button.close {
					position:absolute;
					top: 0;
					right: 0;
				}
			}
		}
	}
	.box {
		margin-bottom: 10px;
		.title {
			color: $light-gray;
		}
	}

	&.payment {
		.bg-white {
			padding: 40px 0;
			.title {
				padding: 4px 0;
				margin-bottom: 10px;
				color: $light-gray;
				border-bottom:1px solid $lighten-gray;
			}
			.amount {
				margin-bottom: 10px;
			}

			.radio {
				margin-top: 0;
				label {
					@include font-fjalla-reg;
					color: $base-color;
					font-size: 24px;
				}
				input[type="radio"] {
					margin-top: 12px;
				}
			}
			
			input[type="text"] {
				border-radius:50px;
			}

		}
	}
}

.navbar-cart {
	.navbar-brand {
		float: none;
	}
	.navbar-header {
		float: none;
		margin: 0px auto;
		text-align: center;
	}
}

#viewCartModal {
	.modal-sm {
		width: 480px;
		@media #{$media-xs} {
			width: auto;
		}
	}
	.modal-content {
		border-radius: 0;
		.modal-header {
			min-height: 80px;
			padding-top: 29px;
			padding-bottom: 28px;
			h6 {
				font-size: 14px;
				text-transform: uppercase;
				color: $base-color;
				svg {
					float: left;
					fill: $base-color;
					width: 20px;
					height: 18px;
					margin-right: 5px;
				}
			}
		}
		.modal-body {
			padding-top: 0;
			padding-bottom: 0;
			max-height: 280px;
			overflow-y: scroll;
		}
		.bdr-b {
			border-bottom:1px solid $lighten-gray;
			padding-top:15px;
			padding-bottom: 15px;
		}
		.pb20 { padding-bottom:20px; }
		.pb15 { padding-bottom:15px; }

		.ptb15 { 
			padding-top:15px;
			padding-bottom:15px; 
		}
		.ptb10 { 
			padding-top:10px;
			padding-bottom:10px; 
		}
		.product-details {
			img {
				float: left;
				margin-right: 10px;
			}
			span.help-block { 
				margin: 0;
				color: $light-gray;
				text-transform: uppercase;
				@include font-lato-bold();
			}
			h5 {
				margin: 0;
			}
		}
		.priceinfo {
		    text-align: center;
		    font-size: 18px;
		}

		select {
			border-radius: 50px;
			background-color:transparent;
			-webkit-appearance: none; 
			-moz-appearance: none; background:url(../img/down-arrow.png) no-repeat right 18px center; 
		}

		.subtotals {
			text-align: center;
			padding: 20px 0;
			color: $base-color;
			font-size: 18px;
			@include font-lato-bold();
			label {
				display: block;
				font-size: 15px;
				margin: 0;
				color: $light-gray;
				text-transform: uppercase;
			}
		}
	}
}

.product-opt-x {
	width:165px;
	height:30px;
	border-radius: 50px;
	background-color:transparent;
	-webkit-appearance: none; 
	-moz-appearance: none; 
	background:url(../img/down-arrow.png) no-repeat right 18px center; 
}

.tooltip-inner {
	background-color: $base-color;
}
.tooltip {
  	&.left .tooltip-arrow {
	    border-left-color: $base-color ;
  	}
  	&.top .tooltip-arrow {
	    border-top-color: $base-color ;
  	}
}
@media #{$media-xs} {
	
}