// Fonts Mixins
@mixin font-fjalla-reg() {
	font-family: 'Fjalla One', sans-serif;
	font-weight: 400;
}
@mixin font-rmono-reg() {
	font-family: 'Roboto Mono', monospace;
	font-weight: 400;
}
@mixin font-rmono-med() {
	font-family: 'Roboto Mono', monospace;
	font-weight: 500;
}
@mixin font-rmono-bold() {
	font-family: 'Roboto Mono', monospace;
	font-weight: 700;
}
@mixin font-lato-light() {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
@mixin font-lato-reg() {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
@mixin font-lato-bold() {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}
@mixin font-lato-black() {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
}
@mixin thumbnail-nostyle {
	border:none;
	background:#fff;
	border-radius:0;
	margin: 0 0 20px;
	padding: 0;
}
// Basic styles
html {
  position: relative;
  min-height: 100%;
}
body {
    background-color: $body-bg;
    color: $text-color;
    height: 100%;
    margin: 68px 0 0;
    @include font-lato-reg;
    @media #{$media-xs} {
    	margin: 0;
    }
}

@include bg-variant('.bg-white', #fff);
@include bg-variant('.bg-base', $base-color-alt);

a {
	color: $link-color;
	text-decoration: none !important;
	&:hover,
	&:focus {
		color: $link-color-hover;
	}
}

h1 {
	@include font-lato-light;
	font-size: 48px;
}
h2 {
	@include font-lato-reg;
	font-size: 36px;
}
h3 {
	@include font-fjalla-reg;
	font-size: 36px;
}
h4 {
	@include font-lato-reg;
	font-size: 24px;
}
h5 {
	@include font-fjalla-reg;
	font-size: 24px;
}
h6 {
	@include font-lato-black;
	font-size: 12px / 16px;
}

p {
	@include font-lato-reg;
	font-size: 16px / 24px;
}

// SVG Object with link
.object-wrapper {
	position: relative;
	.object-link {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 100%;
		height: 100%;
		z-index: 1230;
	}
}

// Spacing
.p-r-0 {
	padding-right:0;
}
.p0 {
	padding: 0
}
.m0 {
	margin: 0;
}
.m-t-30 {
	margin-top:30px;
}
.m-b-20 {
	margin-bottom:20px;
}
.m-b-30 {
	margin-bottom:30px;
}
.p-t-30 {
	padding-top: 30px;
}
.p-b-30 {
	padding-bottom: 30px;
}
.p-tb-30 {
	padding-top: 30px;	
	padding-bottom: 30px;
}
.p-l-30 {
	padding-left: 30px !important;
}
.p-r-30 {
	padding-right: 30px !important;
}

.txt-uc {
	text-transform: uppercase;
}
.txt-cp {
	text-transform: capitalize;
}

// Change container size
.container {
	@media #{$media-lg} {
		width: 1024px;
	}
	@media #{$media-md} {
		width: 1024px;
	}
}

// btn styles
.btn-primary-outline {
	@include button-variant($brand-primary, transparent, $brand-primary);
	text-transform: uppercase;
	@include font-lato-bold;
	border-radius:0;
	box-shadow: none;
	padding-top: 0;
	padding-bottom: 0;
	height:30px;
	line-height:30px;
	font-size: 12px;
	letter-spacing:1px;
	&:hover,
	&:focus {
		box-shadow: none;
		border-color: $brand-primary-hover !important;
		color: $brand-primary-hover;
	}
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		cursor: $cursor-disabled;
		@include opacity(.5);
		@include box-shadow(none);
	}
}
.btn-base-outline {
	@include button-variant($base-color, transparent, $base-color);
	text-transform: uppercase;
	@include font-lato-black;
	border-radius:0;
	box-shadow: none;
	padding-top: 0;
	padding-bottom: 0;
	height:30px;
	line-height:30px;
	font-size: 12px;
	letter-spacing:1px;
	&:hover,
	&:focus {
		box-shadow: none;
		border-color: lighten($base-color, 4%) !important;
		color: lighten($base-color, 4%);
	}
}
.btn-primary {
	border: 1px solid $brand-primary;
	border-radius: 0 !important;
	text-transform: uppercase;
	padding-top: 0;
	padding-bottom: 0;
	height:30px;
	line-height:30px;
	font-size: 12px;
	letter-spacing:1px;
	@include font-lato-black;	
	&:hover,
	&:focus {
		box-shadow: none;
		border-color: $brand-primary-hover !important;
		background-color: $brand-primary-hover;
	}
}

.btn-cart-payment {
	background: $brand-primary;
	border-radius: 0 !important;
	text-transform: uppercase;
	font-size: 12px;
	height: 60px;
	line-height: 60px;
	padding-top: 0;
	padding-bottom: 0;
	color: #fff;
	letter-spacing: 1px;
	@include font-lato-black;	
	&:hover,
	&:focus {
		box-shadow: none;
		color: #fff;
		border-color: $brand-primary-hover !important;
		background-color: $brand-primary-hover;
	}
}

.btn-cart-link {
	background: transparent;
	border-radius: 0 !important;
	text-transform: uppercase;
	font-size: 12px;
	height: 60px;
	line-height: 60px;
	padding-top: 0;
	padding-bottom: 0;
	color: $brand-primary;
	letter-spacing: 1px;
	@include font-lato-black;	
	&:hover,
	&:focus {
		box-shadow: none;
		color: $brand-primary-hover !important;
	}
}

// Ajax Loader Image
#ajaxLoader{
	position: fixed;
	width:100%;
	height:100vh;
	top:0;
	left: 0;
	right:0;
	margin: 0 auto;
	background:rgba(255,255,255,0.6) url('../img/ajax-loader.gif') center center no-repeat;
	z-index:1031;
	display: none;
}

// Alert
.alert {
    padding: 10px;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
}

// Overlay
#overlay {
	position: fixed;
	width:100%;
	height:100vh;
	top:0;
	left: 0;
	right:0;
	margin: 0 auto;
	background:rgba(255,255,255,0.25);
	z-index:1030;
	display: none;  
}

.badge {
	font-weight:normal;
}

.cart-counter {
    position: absolute;
    font-size: 10px;
    background: $brand-primary;
    line-height: 1.2;
    padding: 1px 2px;
    min-width: 16px;
    min-height: 12px;
    bottom: 0;
    right: 0;
    z-index: 1031;
    color: #fff;
}

.popover {
	span.help-block {
		font-size: 13px;
		margin-top:0;
		margin-bottom:5px;
	}
}

.row.is-flex {
	display: flex;
	flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
	display: flex;
	flex-direction: column;
}

.content-pages {
	.sidebar {
		padding: 40px 0;
		.list-unstyled {
			li {
				margin-bottom: 10px;
				a {
					@include font-lato-black();
				}
				&.active {
					a {
						color: #000;
						border-bottom: 2px solid #000;
					}
				}
			}
		}
	}
	.bg-white {
		min-height: 450px;
	}
	.page-header {
		margin: 40px 0;
		padding: 0 40px;
		border: none;
		h1 {
			padding: 0;
			margin: 0;
		}
	}
	.page-content {
		padding: 0 40px 40px;

		@media #{$media-xs} {
			img {
				width: 100% !important;
			}
		}
	}
}



#editor {
    position: relative;
}
#editor-content {
    position: absolute;
    top: 1em;
    left: 1em;
    right: 1em;
    bottom: 1em;
    opacity: 0;
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

.listAssignedGroups {
	padding-left: 20px;
}

.alert-dismissable .close, 
.alert-dismissible .close {
    right: 0;
}


/* Drivers order */
.all-orders {
	.order {
		margin-bottom: 30px;
		.bg-white {
			padding: 20px;
			font-size: 16px;
			.rw {
				margin-bottom: 0;
				border-bottom: 1px solid $lighten-gray;
				padding: 8px 0 8px 25px;
				span {
					color: $light-gray;
					margin-right: 5px;
				}
				.object-wrapper {
					position:absolute;
					margin-left: -24px;
					margin-top: 2px;
				}
				&.title {
					@include font-fjalla-reg;
					@include clearfix;
					font-size: 20px;
					padding: 5px 0;
					position:relative;
					span {
						@include font-lato-reg;
						font-size: 16px;
					}
					a {
						position:absolute;
						left: 0;
						right: 0;
						margin: 0 auto;
						width: 100%;
						height: 100%;
						display: block;
					}
					&:hover,
					&:focus {
						color: $brand-primary-hover;
					}
				}
				&:last-child {
					border-bottom: none;
				}
				.icon {
					color: $brand-primary;
				}
			}

			.order-details-row {
				[class*="col-"] {
					padding: 12px 0;
					border-bottom:1px solid $lighten-gray;
					&:last-child {
						border-bottom:none;
					}
				}
				p {
					margin: 0;
				}
				.obj-svg {
					position:absolute;
					margin-left: -24px;
					margin-top: 2px;
				}
				.title {
					@include font-fjalla-reg;
					font-size: 20px;
					span {
						color: $light-gray;
						margin-right: 5px;
						@include font-lato-reg;
						font-size: 16px;
					}
				}
				.time,
				.loc {
					padding-left: 24px;
				}
				.estimate {
					span {
						color: $light-gray;
						display: block;
					}
				}
			}
		}
	}
}

.driver-account {
	.thumbnail {
		@include thumbnail-nostyle;
		.img-wrap img {
			width: 100%;
			height: 300px;
			@media #{$media-xs} {
				height: 150px;
			}
			@media #{$media-sm} {
				height: 225px;
			}
		}
		.pencil-icon {
			float: right;
		}
		.caption {
			margin: 20px 0;
			text-align: center;
			.list-unstyled {
				li {
					margin-bottom: 20px;
				}
			}
		}
		@media #{$media-xs} {
			@include clearfix;
			.img-wrap {
				max-width: 45%;
				float: left;
				margin-right: 20px;
			}
			.caption {
				margin: 10px 0;
			}
		}
	}
	.user-details {
		li {
			position: relative;
			padding: 10px 0;
			border-top:1px solid #eeeeee;
			&:last-child {
				border-bottom:1px solid #eeeeee;
			}
			p {
				margin: 0;
				@include font-fjalla-reg;
				text-transform: uppercase;
				font-size: 32px;
				position: relative;
				margin-top: -5px;
			}
			label {
				margin: 0;
				color: $gray;
				font-size: 19px;
				font-weight: 400;
			}
			.pencil-icon,
			.update-card {
				position: absolute;
				right: 20px;
				bottom: 20px;
			}
			@media #{$media-xs} {
				p {
					font-size: 28px;
				}
				.update-card {
					position: static;
				}
			}
		}
	}
	@media #{$media-xs} {
		#uploadPicture {
			padding: 5px !important;
			.btn-primary,
			.btn-primary-outline {
				width: 100%;
				text-transform: capitalize;
				font-size: 100%;
			}
		}
	}
}

.btn-nav-close {
	position: absolute;
	background: $sidebar-option-color;
	color: #fff;
	width: 45px;
	height: 45px;
	right: 0;
	text-align: center;
	font-size: 39px;
	line-height: 39px;
	&:hover,
	&:focus {
		color: #fff;
	}
}

#formLogout {
	float:left;
}

.bgRed {
	background-color: red !important;
}

// Admin
.btn-action {
	.btn {
		padding: 3px 6px;
		font-size: 10px;
	}
}

.head{
	h5{
		margin-top: 0;
		margin-bottom: 0;
	}
}

.has-error {
	.error {
		color: #a94442;
		font-size: 12px;
	}
}

.badge-success {
	background: $brand-primary;
}