@media #{$media-xs} {
	.filterOptions {
		overflow: scroll !important;
	}
}

.filters {
	margin-bottom: 30px;
	.filterResults {
		text-transform: uppercase;
		@include font-lato-black;
		color: $gray;
		padding: 5px 0;
		position: relative;
		@media #{$media-xs} {
			font-size: 12px;
			line-height: 24px;
		}
		.filter-icon {
			margin-right: 12px;
		}
		a {
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
			height: 100%;
			width: 100%;
			z-index: 1001;
		}
	}
	.p-range {
		padding: 5px 0;
		margin-bottom: 0;
		@media #{$media-xs} {
			text-align: right;
		}
		li {
			&:first-child::after {
				content:"/";
				position: absolute;
				margin-left: 5px;
			}
			a {
				color: $gray;
				border-bottom:2px solid transparent;
				text-transform: uppercase;
				@include font-lato-black;
				padding-bottom: 4px;
			}
			&.active {
				a {
					color: $text-color;
					border-bottom-color: $text-color;
				}
			}
		}
	}
	@media #{$media-xs} {
		.filterResults,
		.p-range {
			margin-bottom: 15px;
		}
	}
}

@import "modules/select2";
@import "modules/search-form";
