.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	visibility: hidden;
	text-align: center;
	background: #fff;
	.bg-primary {
		min-height: 100px;
		padding: 28px 0;
		margin-bottom: 60px;
		position: relative;
		.info {
			position: absolute; 
			left: 0;
			right: 0;
			margin: 0 auto;
			max-width:33%;
			color: #000;
			@include font-lato-bold;
			@include clearfix();
			.footer-logo {
				margin: 0 auto;
				@media #{$media-xs} {
					float: none;
				}
			}
			p {
				float:left;
				margin: 8px 0 8px 20px;
				@media #{$media-xs} {
					float: none;
					margin: 8px 0;
				}
			}
			@media #{$media-xs} {
				max-width: 100%;
				position: static;
				text-align:center;
				padding-left: 20%;
				padding-right: 20%;
			}
			@media #{$media-sm} {
				max-width: 100%;
				position: static;
				text-align:center;
				padding-left: 20%;
				padding-right: 20%;
			}
			@media #{$media-md} {
				max-width: 100%;
				position: static;
				text-align:center;
				padding-left: 28%;
				padding-right: 28%;
			}
		}
	}

	.links {
		margin-bottom: 20px;
		ul {
			margin-bottom: 25px;
			li {
				a {
					text-transform: uppercase;
					@include font-lato-black;
				}
				@media #{$media-xs} {
					display: block;
					margin-bottom: 20px;
				}
			}
		}
	}
  
	.credits {
		font-size: 14px;
		@include font-lato-reg;
		p, 
		a {
			font-size: 14px;
			color: #BBBBBB;
		}
		p {
			padding: 20px 0;
			margin: 0;
			@media #{$media-xs} {
				padding: 0 15%;
				&.text-left,
				&.text-right {
					text-align: center;
				}
				&.text-left {
					margin-bottom: 40px;
				}
			}
		}
		a:hover,
		a:focus {
			color: $brand-primary;
		}
		@media #{$media-xs} {
			padding-bottom: 40px;
		}
	}

	// Dispensary Admin
	&.alt {
		.bg-primary {
			margin: 0;
			.info {
				.footer-logo {
					float: none;
				}
			}
		}
		.bg-base {
			p,
			a {
				color: #666666;
			}
			a:hover,
			a:focus {
				color: $brand-primary;
			}
			.btop {
				text-transform: uppercase;
				color: $brand-primary;
				@include font-lato-black;
			}
		}
	}
}