.signup-from,
.signin-from,
.locationsForm {
	background: #fff;
	margin-top: 20px;
	margin-bottom: 40px;
	padding: 20px;
	border-radius:6px;
	box-shadow: 2px 2px 4px $light-gray;
	h3 {
		margin-top: 0;
		@include font-lato-black;
		text-transform: uppercase;
	}
}

.form-group {
	label,
	.help-block.link {
		@include font-lato-black;
		color: $gray;
		text-transform: uppercase;
		font-size: 11px;
	}
	.help-block.link {
		&:hover,
		&:focus {
			color: $brand-primary;
		}
	}
}

.locationsForm {
	.select2-container--bootstrap .select2-selection {
		border-radius:0 !important;
	}
}


.ajaxform {
	form {
		background: #f9f9f9;
		border-radius: 6px;
		margin-top: 12px;
		padding: 7px;
		label {
			display: block;
			font-size: 12px !important;
		}
		.btn {
			margin-top: 20px;
			padding: 3px 12px;
			line-height: 23px;
		}
	}
}

#delUserImage {
	display: inline;
}

.form-control {
	height: 30px;
	padding-top: 0;
	padding-bottom: 0;
	box-shadow:none;
	color: $base-color;
}
textarea.form-control {
    height: 120px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.fields {
	.input-group {
		.input-group-addon {
			background:none;
			border-radius:0;
		}
		.form-control {
			border-left: none;	
			border-radius:0;
			&:focus {
				box-shadow: none;
			}
		}
		&:first-child {
			.input-group-addon {
				border-radius: 4px 0 0 0 !important;
			}
			.form-control {
				border-radius: 0 4px 0 0 !important;
			}
		}
		&:last-child {
			.input-group-addon {
				border-radius: 0 0 0 4px !important;
			}
			.form-control {
				border-radius: 0 0 4px 0 !important;
			}
		}
	}
}
.input-group.focus {
	.input-group-addon {
		border-color: #74ff5c;
	}
}

.styleDropdown {
	width:100%;
	height:30px;
	border-radius: 50px;
	border:1px solid #E7E7E7;
	padding: 2px 10px;
	background-color:transparent;
	-webkit-appearance: none; 
	-moz-appearance: none; 
	background:url(../img/down-arrow.png) no-repeat right 18px center;
}

.form-group {
	&.has-error {
		span.help-block {
			margin-top: 0;
			margin-bottom: 0;
			font-size: 12px;
		}
	}
}

.error-box {
	padding: 4px;
	margin-bottom: 20px;
	background-color: lighten(#a94442, 50%);
	color: #a94442;
	border-radius: 4px;
	font-size: 12px;


	> p,
	> ul,
	> ol {
		margin-bottom: 0;
	}
	> p + p {
		margin-top: 5px;
	}
}

.has-error .select2-container--bootstrap .select2-selection {
    border-color: #a94442 !important;
}