.navbar-brand {
	height: 60px !important;
	width: auto !important;
	display: inline-block;
	padding: 9px 15px;
	@media #{$media-xs} {
		width: auto !important;
	}
}
.navbar-text {
	padding-left: 10px;
	padding-right: 10px;
}
.navbar-default {
	background: $navbar-default-bg;
	border: none;
	border-top: $navbar-top-border solid $navbar-top-border-color;
	box-shadow: 0 8px 6px -6px #E2E2E2;
	min-height: $navbar-height;
	margin-bottom: 0;
	.navbar-btn {
		border: none;
		border-radius: 0 !important;
		padding: 5px 12px;
		text-transform: uppercase;
		font-size: 16px;
		@include font-lato-black;	
	}
	.navbar-toggle {
	    border: none;
	}
	.navbar-nav.btns {
		li {
			margin-right: 15px;
			a {
				&.navbar-btn {
					color: #fff;
				}
				&:hover,
				&:focus {
					background: $brand-primary-hover;
				}
			}
		}
	}
	.navbar-nav.main-nav {
		li {
			position: relative;
			width: 60px;
			height: 60px;
			text-align: center;
			border-left: 1px solid $lighten-gray;
			&:last-child {
				border-right: 1px solid $lighten-gray;
			}			
			&:hover,
			&:focus {
				svg {
					fill: #000;
				}
				&:after {
					height: 5px;
					background: #000;
				}
			}
			&.active {
				> a {
					background: transparent;
				}
				&,
				&:hover,
				&:focus {
					svg {
						fill: #000;
					}
				}
				&:after {
					height: 5px;
					background: #000;
				}
			}
			a {
				position: absolute;
				left: 0;
				right: 0;
				margin: 0 auto;
				width: 100%;
				height: 100%;
				z-index: 1230;
				padding: 0;
			}
			svg {
				width: 24px;
				height: 24px;
				margin: 18px 0;
				fill: #aaaaaa;
			}

			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				height: 0px;
				width: 100%;
				background: transparent;
				-webkit-transition: all ease 0.5s;
				-moz-transition: all ease 0.5s;
				transition: all ease 0.5s;
			}
		}
	}

	.navbar-nav.main-nav.landing-nav {
		margin: 12px 0;
		li {
			width: auto;
			height: auto;
			border-left: none;
			margin-left: 15px;
			&:last-child {
				border-right: none;
				a {
					position: absolute;
					padding: 0;
				}

				svg {
					width: 24px;
					height: 24px;
					margin: 7px 0;
					fill: #fff;
				}

				&:hover,
				&:focus {
					svg {
						fill: $brand-primary !important;					
					}
				}
			}			
			&:after {
				display: none;
			}
			a {
				position: static;
				padding: 6px 12px;
				color: #fff;
			}

			.btn-primary-outline {
				border-color: #fff;
				color: #fff;
				&:hover,
				&:focus {
					box-shadow: none;
					border-color: $brand-primary !important;
					color: $brand-primary !important;
				}
			}
		}
		@media #{$media-xs} {
			margin: 6px 0;
			text-align:center;
			li {
				float: none;
				display: inline-block;
				margin-left: 5px;
				&:last-child {
					width: 50px;
					svg {
						width: 24px;
						height: 24px;
						margin: 0;
						fill: #fff;
						padding-top: 0;
						position: relative;
						top: 8px;
					}
				}		
			}
		}
	}
}

.navbar-xs {
	.container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
	.navbar-header {
		background: $brand-primary;
		text-align: center;
		.navbar-btn {
			position: absolute;
			margin-top: 9px;
			margin-bottom: 9px;
			right: 10px;
		}
	}
	.navbar-brand {
		float: none;
	}
	.navbar-mobile {
		.nav {
			margin: 0;
			li {
				height: auto;
				float: left;
				width: 20%;
			}
		}
	}
	&.navbar-driver {
		.navbar-mobile {
			.nav {
				li {
					width: 25%;
				}
			}
		}
	}
}


#locationPopover {
	display: none;
	position: absolute;
	width:270px;
	color: #fff;
	top:60px;
	right:0;
	padding-top: 10px;
	padding-left: 0;
	div.inner-ul {
		display: block;
		padding: 20px;
		height:300px;
		width: 100%;
		background: $base-color;
		overflow-y:scroll;
	}
	&::before {
		content: "";
		width: 0;
		height: 0;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-bottom: 7px solid $base-color;
		position: absolute;
		top: 3px;
		right: 20px;
	}
	li {
		float: none;
		display: block;
		width: 100%;
		height:auto;
		text-align: left;
		border-left:none;
		border-right:none;
		&:last-child {
			margin-bottom: 20px;
		}
		.info {
			a {
				position: static;
				width: 100%;
				text-align: left;
			}
			p {
				margin: 0;
			}
		}
	}
}

#locationInfo:hover ul#locationPopover,
#locationInfo:focus ul#locationPopover,
#locationInfo:active ul#locationPopover {
	display: block;
}