@import "modules/filters";

.is-flex {
	display: flex;
	flex-wrap: wrap;
}
.is-flex > [class*='col-'] {
	display: flex;
	flex-direction: column;
}

.products-grid {
	margin-bottom: 50px;
	[class*="col-"] {
		padding-left: 10px;
		padding-right: 10px;
	}

	.btn-primary-outline {
		margin-top: 20px;
	}

	.error {
		.alert {
		    padding: 2px 6px;
		    border-radius: 4px;
		    font-size: 12px;
		}
	}
}
.product {
	@include thumbnail-nostyle;
	height:100%;
	img {
		width: 100%;
		@media #{$media-lg} {
			height: 160px !important;
		}
	}
	.caption {
		padding: 10px 15px;
		.category {
			min-height:22px;
			display: block;
			color: $light-gray;
			text-align: center;
			text-transform: uppercase;
			@include font-lato-black;
			@media #{$media-xs} {
				font-size: 13px;
				overflow-wrap: break-word;
				word-wrap: break-word;
				-ms-word-break: break-all;
				word-break: break-all;
				word-break: break-word;
			}
		}
		h3 {
			@include font-fjalla-reg;
			font-size: 32px;
			text-align: center;
			text-transform: uppercase;
			margin: 10px 0 15px;
			letter-spacing: -1px;
			@media #{$media-xs} {
				font-size: 18px;
			}
		}
		.list-inline {
			li {
				padding-left: 8px;
				padding-right: 0;
				float: left;
				@media #{$media-xs} {
					display: block;
					padding-left: 5px;
					padding-right: 5px;
					&:first-child {
						width: 86%;
						.product-opt-x {
							width: 100%;
						}
					}
					&:last-child() {
						text-align: center;
					}
				}
				.product-opt {
					width: 160px !important;
					@media #{$media-xs} {
						width: 100% !important;
					}
					@media #{$media-sm} {
						width: 155px !important;
					}
				}
				&:last-child {
					padding-top: 3px;
				}
			}
		}
		.icon {
			height:23px;
			width:23px;
			margin: 0px auto;
			position: relative;
			a {
				position: absolute;
				left: 0;
				right: 0;
				margin: 0 auto;
				width: 100%;
				height: 100%;
				text-align: center;
				&#viewCart {
					border:1px solid $brand-primary;
					border-radius:50px;
					font-size: 10px;
					line-height: 23px;
				}
			}
			&:hover,
			&:focus {
				svg {
					fill: $base-color;
				}
			}
		}
	}
}


svg.defs {
	height:0; 
	width:0; 
	margin:0; 
	padding:0;
}
svg.embed {
	height:23px;
	width:23px;
	fill:$brand-primary;
}
svg.embed:hover {
	cursor: pointer;
	fill:lighten($brand-primary, 5%);
}

 /* The side navigation menu */
.filterSidebar {
    height: calc(100vh - 68px);
    width: 250px;
    position: fixed;
    z-index: 1031;
    left: 0;
    background-color: $sidebar-bg;
	overflow:hidden;
    padding: 0;
    margin-left: -250px;
    @include transition(margin-left 0.5s ease);

	.filterOptions {
		color: $sidebar-title-color;
		height: 100%;
		.filter-icon {
			margin-right: 10px;
		}
		.filterResults,
		.disp-dropdown,
		.options,
		.list-options {
			padding: 25px;
			border-bottom:1px solid $sidebar-border-color;
		}
		.list-options {
			ul {
				li {
					margin-bottom: 8px;
				}
			}
		}
	}
}

/* Position and style the close button (top right corner) */
.filterSidebar .closebtn {
    position: absolute;
	cursor: pointer;
	top: 18px;
	right: 7px;
	font-size: 30px;
	width: 30px;
	height: 30px;
	line-height: .95;
	color: $brand-primary;
	text-align: center;
	z-index: 1031;
	&:hover {
		color: lighten($brand-primary, 5%);
	}
}

/* On smaller screens, where height is less than 450px, change the style of the filterSidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .filterSidebar a {font-size: 18px;}
}


/**
 * Checkbox Four
 */
.checkbox-x {
    position: relative;
}
/**
 * Create the checkbox button
 */
.checkbox-x label {
	margin-bottom: 0;
	cursor: pointer;
	@include font-lato-reg;
	color: $sidebar-option-color;
}
.checkbox-x label span {
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 100px;
	@include transition(all .5s ease);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	border:1px solid $sidebar-border-color;
	margin-top: 6px;
}

/**
 * Create the checked state
 */
.checkbox-x input[type=checkbox]:checked + label {
	color: $sidebar-option-color-selected;
}
.checkbox-x input[type=checkbox]:checked + label span {
	background: $brand-primary;
	border:1px solid $brand-primary;
}
.checkbox-x input[type=checkbox] {
	visibility: hidden;
}