.landing-page {
	margin-top: 0;
	border-top:7px solid $brand-primary;

	.header {
		background: $brand-primary url(../img/landing-banner-alt.jpg) no-repeat center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 860px;
		position:relative;
		
		.form-wrapper {
			text-align: center;
			position: absolute;
			top: 38%;
			left: 0;
			right: 0;
			margin: 0 auto;
		}
		.title {
			color: #fff;
			text-transform: uppercase;
			font-size: 80px;
			@media #{$media-xs} {
				font-size: 40px;
			}
		}

		#formSearch {
			.input-group-addon {
				padding: 6px 10px;
				background: #111;
				border: none;
				border-radius: 15px 0 0 15px;
				height: 28px;
			}
			.form-control.lsearch {
				width: 360px;
				height: 40px;
				-webkit-appearance: none; 
				-moz-appearance: none; 
				// background:#111 url(../img/down-arrow.png) no-repeat right 10px center;
				color: #fff;
				margin-right: 20px;
				border-width: 0 0 0 1px;
				border-radius: 0 15px 15px 0;
				border-color:darken($gray, 10%);
				background-color: #111;
				background-image: url(../img/down-arrow.png);
				background-repeat: no-repeat;
				background-position: 95% center;
				@media #{$media-xs} {
					width: 100%;
				}
			}
			.btn-primary {
				border-radius:12px !important;
				height: 40px;
				@media #{$media-xs} {
					margin-top: 12px;
				}
			}
		}
	}

	.thumbnail {
		@include thumbnail-nostyle();
		margin-bottom: 0;
		img {
			float: right;
			@media #{$media-sm} {
				float: none;
			}
			@media #{$media-xs} {
				float: none;
			}
		}
	}

	.info-wrap {
		padding: 100px 0;
		.info {
			padding:0 25px;
			text-align: center;
			color: #fff;
			.icon {
				margin-bottom: 30px;
				.svg-icon {
					margin: 0 auto;
				}	
			}
			h3 {
				text-transform: uppercase;
				margin-bottom: 40px;
			}
			@media #{$media-sm} {
				padding:0; 
			}
		}

		.info-title {
			color: darken($gray, 20%);
			text-transform: uppercase;
			text-align: center;
			margin: 0 0 40px;
			font-size: 11px;
			letter-spacing: 1px;
		}
	}

	.info-wrap2 {
		padding: 100px 0;
		@media #{$media-sm} {
			padding: 50px 0;
		}
		@media #{$media-xs} {
			padding: 0 0 50px;
		}
		.page-header {
			border:none;
		}
		p {
			font-size: 18px;
		}
		.content-page {
			padding-top: 45px;
			@media #{$media-sm} {
				padding-top: 0;
			}
		}
		h3 {
			text-transform: uppercase;
			margin: 0;
			@media #{$media-xs} {
				text-align: center;
			}
		}
		hr {
			margin: 75px 0;
		}

		@media #{$media-sm} {
			.p-r-30 {
				padding-right: 0 !important;
			}
			.p-l-30 {
				padding-left: 0 !important;
			}
		}
		@media #{$media-xs} {
			.p-r-30 {
				padding-right: 0 !important;
			}
			.p-l-30 {
				padding-left: 0 !important;
			}
		}
	}

	.navbar-transparent {
		background:transparent;
		border:none;
		box-shadow:none;
		border-radius:0;
		
		@media #{$media-xs} {
			.navbar-brand {
				float: none;
				text-align: center;
				display: block;
			}
		}
	}

	#locations {
		width: 290px !important;
		@media #{$media-md} {
			width: 290px !important;
		}
		@media #{$media-sm} {
			width: 290px !important;
		}
		@media #{$media-xs} {
			width: 100% !important;
		}
	}
	.select2.select2-container {
		text-align: left;
	}
	.select2-container--bootstrap .select2-selection[aria-labelledby="select2-locations-container"] {
	    height: 40px !important;
	    padding: 0 15px 0 50px !important;
	    line-height: 40px;
	    background: #111;
	    border: none;
	}
	.select2-container--bootstrap .select2-selection[aria-labelledby="select2-locations-container"]::before {
	    height: 40px;
	    border-right: 1px solid darken($gray, 15%);
	}
	.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
	    color: #fff;
	}
}
