.modal-backdrop.in {
	@include opacity(0.7);
}
#productModal {
	.modal {
		&-content {
			border-radius: 0;
		}
		&-body {
			padding: 0;
		}
		&-footer {
			text-align: center;
		}
	}
	select {
		height: 30px;
	}

	.thumbnail {
		@include thumbnail-nostyle;
		margin-bottom: 0;
		background: #fff;
		> img {
			width: 100%;
		}
		.caption {
			padding: 0;
			.category {
				font-size: 16px;
				display: block;
				color: $light-gray;
				text-align: center;
				text-transform: uppercase;
				@include font-lato-black;
				padding-top: 15px;
			}
			h3 {
				@include font-fjalla-reg;
				font-size: 32px;
				text-align: center;
				text-transform: uppercase;
				margin: 10px 0;
				letter-spacing: -1px;
				@media #{$media-xs} {
					font-size: 22px;
				}
			}
			.list-inline {
				@include clearfix;
				margin: 0;
				padding: 10px 12px 15px;
				border-bottom: 1px solid $lighten-gray;
				li {
					float: left;
					@media #{$media-xs} {
						&:last-child() {
							text-align: center;
						}
					}
					.product-opt {
						width: 130px !important;
						@media #{$media-xs} {
							width: 120px !important;
						}
					}
					.btn {
						font-size: 14px;
					}
				}
				&.list-stat {
					text-align: center;
					border-bottom:none;
					padding: 15px 8px;
					li {
						float: none;
						@include font-lato-black;
						font-size: 14px;
						span {
							color: $light-gray;
							margin-right: 5px;
						}
					}
				}
			}
			.link-more {
				text-align: center;
				padding: 15px 12px;
				margin-top: 15px;
				border-top: 1px solid $lighten-gray;
				a {
					font-size: 16px;
					@include font-lato-black;
					text-transform: uppercase;
				}
			}
		}
	}
	.carousel-control {
		background: none;
		width: 25px;
		height: 25px;
		top: 20%;
		@include opacity(0.75);
		img {
			vertical-align: top;
		}
		&.left {
			margin-left: -45px;
		}
		&.right {
			margin-right: -45px;
		}
	}

	@media #{$media-xs} {
		.modal-sm {
			width: 290px;
			margin: 20px auto;
		}
		.carousel-control {
			&.left {
				margin-left: -30px;
			}
			&.right {
				margin-right: -30px;
			}
		}
	}
}


#modal-product-slider {
	.product-opt-x {
		width: 145px !important;
	}
	.btn {
		padding: 0px 6px;
		font-size: 12px !important;
		letter-spacing: 1px;
		line-height: 30px;
		height: 30px;
	}
}