/*== Mobile Sticky Header ==*/
.mrtop {
  margin-top: 10px;
}
.pbottom{
  margin-bottom:30px;
}
.nav-tabs {
  li a:hover {
    color: #000;
  }
}

.navbar-mobile {
  // set animation
  -webkit-transition: all 0.8s ease;
  -moz-box-shadow: all 0.8s ease;
  transition: all 0.8s ease;
}

.navbar-mobile.sticky {
  position: fixed;
  z-index: 999;
  width: 100%;
  background: #fff;
  top: 0px;
  webkit-box-shadow: 1px 1px 5px #cfcfcf;
  -moz-box-shadow: 1px 1px 5px #cfcfcf;
  box-shadow: 1px 1px 5px #cfcfcf;
}

.product.thumbnail {
  webkit-box-shadow: 1px 1px 5px #cfcfcf;
  -moz-box-shadow: 1px 1px 5px #cfcfcf;
  box-shadow: 1px 1px 5px #cfcfcf;
}

#addDispensaries {
  padding-bottom: 20px;
}


/*== Orders Date Picker ==*/

.ranges li {
  color: #000 !important;
}

.ranges li.active {
  background-color: #21DB00 !important;
  border: 1px solid #21DB00 !important;
  color: #fff !important;
}

.ranges li:hover {
  background-color: #21DB00 !important;
  border: 1px solid #21DB00 !important;
  color: #fff !important;
}

.btn-success {
  background-color: #21DB00 !important;
  border: 1px solid #21DB00 !important;
  color: #fff !important;
}

.content {
  .bg-white .head ul.list-inline.order-table-icons {
    margin: 5px 0 0;
  }
}

.content .dataTable tbody tr.table_row td:last-child::after {
  right: 0px;
}

.radio-inline input[type="radio"] {
  margin-top: 1px;
}

.modal-body .radio-inline input[type="radio"] {
  margin-top: 5px;
}

a.learn-button {
  background: #21DB00;
  border: none;
  border-radius: 0;
  padding: 5px 12px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: #fff;
}

a.learn-button:hover {
  color: #fff;
  background: #19a800;
}

.content {
  form.editProduct {
    .thumbnail {
      padding-bottom: 20px;
    }
  }
}

#carousel-product-image {
  .carousel-inner {
    .item img {
      margin: 0px auto !important;
    }
  }
}

.ui-widget-content {
  border: 0px!important;
}
/*== Payment Thankyou Page Style ==*/
.thankyou-c{
  padding:30px 0;
  text-align: center;
  h1{
    font-size:25px;
    font-weight:500;
    padding-bottom:10px;
  }
  p{
    margin-bottom:0px;
    color:#BFBFBF;
  }
  .order-details{
    border-top:1px solid #E6E6E6;
    border-bottom:1px solid #E6E6E6;
    padding:30px 0;
    margin-top:25px;
    margin-bottom:20px;
    span{
      color:#BFBFBF;
      padding-bottom:5px;
    }
    em{
      font-style:normal;
      padding-bottom:5px;
      font-weight:bold;      
    }
  }
  .btn{
    margin-top:20px;
  }
}
@media #{$media-sm} {
  .btn-disp-input2.form-search.dtb {
    .form-group {
      margin: 20px 0;
    }
  }
  .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-radius: 3px;
  }
  .btn-group>.btn:last-child:not(:first-child) {
    border-radius: 3px;
    margin-top: 3px;
    margin-left: 0px;
  }
}

@media #{$media-xs} {
  .mrtop {
    margin-top: 0px;
  }
  /*== Footer ==*/
  .footer .credits {
    padding-bottom: 20px;
  }
  .footer .credits p.text-left {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
  }
  /*== Header Sign Up button ==*/
  .navbar-xs {
    .navbar-header{
       .navbar-btn {
          margin-top: 11px;
          padding-top: 0px;
          padding-bottom: 0px;
       }
    } 
  }
  /*== Home Ppage ==*/
  #productModal .thumbnail .caption .list-inline li {
    width: 100%;
  }
  #productModal .thumbnail .caption .list-stat li {
    width: auto;
  }
  #productModal .thumbnail .caption .list-inline .icon {
    width: 100%;
    margin-top: 15px;
  }
  #productModal .thumbnail .caption .list-inline li .btn {
    width: 100%;
  }
  #modal-product-slider .product-opt-x {
    width: 100% !important;
  }
  .product .caption .list-inline li:first-child {
    width: 79%;
  }
  .content-pages .page-content .col-3 img {
    width: auto !important;
  }
  .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-radius: 3px;
  }
  .btn-group>.btn:last-child:not(:first-child) {
    border-radius: 3px;
    margin-top: 0px;
    margin-left: 0px;
  }
  /*== Data Tables ==*/
  .dataTables_wrapper {
    overflow-x: scroll;
  }
  .content .dataTable tbody tr.table_row td:last-child::after {
    right: 0px !important;
  }
  /*== General Pages ==*/
  .content-pages .page-content,
  .content-pages .page-header {
    padding-right: 0px;
    padding-left: 0px;
  }
  .content-pages .page-header {
    margin: 25px 0;
  }
  .content-pages .page-header h1 {
    font-size: 30px;
  }
  .form-search.dtb {
    .form-group {
      width: 100%;
      margin: 20px 0;
    }
  }
  .navbar-xs {
    .navbar-header {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
  .profile-tabs {
    .tab-content {
      #my-orders {
        .order-details {
          .box {
            .matter {
              .order-info .product p {
                font-size: 24px;
              }
            }
          }
        }
      }
    }
  }
  .content {
    .box {
      margin-bottom: 10px;
    }
  }
  .profile-tabs {
    .tab-content {
      #settings {
        .thumbnail {
          .img-wrap {
            width: 150px;
          }
        }
      }
    }
  }
  .content-pages {
    .page-content img {
      width: auto!important;
    }
  }
.footer {
  .page-header{
      margin:0px;
      padding-top:35px;
     h1{
      margin-top:0px;
     }
    }
  .page-content{
      margin-bottom:0px !important;
      padding-bottom:35px;
    }
  }


}

@media #{$media-xxs} {
  h1 {
    font-size: 31px;
  }
  .navbar-xs .navbar-header .navbar-btn {
    width: auto;
  }
  .btn-primary {
    width: 100%;
    margin-top: 15px;
  }
  .btn-disp-input.form-search.dtb .form-group {
    width: 100%;
    margin: 0px;
  }
  .btn-disp {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  /*== Mobile Header ==*/
  .navbar-xs .navbar-brand {
    float: left;
    padding-left: 25px;
  }
  /*== Home Page ==*/
  .product .caption .list-inline li:first-child {
    width: 100%;
  }
  .product .caption .list-inline li:last-child {
    width: 100%;
    margin-top: 10px;
  }
  .content .dataTable tbody tr.table_row td:last-child::after {
    display: none;
  }

  /*== General Pages ==*/
  .col-3 {
    width: 100% !important;
  }
  .content-pages .sidebar {
    padding: 20px 0 10px;
  }
  .profile-tabs {
    .tab-content {
      #settings {
        .thumbnail {
          .img-wrap {
            float: none;
            margin: 0px auto;
          }
        }
      }
    }
  }
  .profile-tabs {
    .tab-content {
      #settings {
        .thumbnail {
          .img-wrap img {
            height: 134px;
          }
        }
      }
    }
  }
  .content-pages {
    .page-content img {
      width: 100%!important;
    }
  }
  /*== Add New Location ==*/
  .signup-from h3, .signin-from h3, .locationsForm h3{
    font-size:23px;
  }
  .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-radius: 0px;
  }
  .btn-group>.btn:last-child:not(:first-child) {
    border-radius: 0px;
    margin-top: 0px;
    margin-left: 0px;
  }
}

