.single-product {
	background: #fff;
	min-height: 425px;
	.thumbnail {
		@include thumbnail-nostyle;
		margin-bottom: 0;
		img {
			width: 100%;
		}
	}
	.title {
		span {
			font-size: 16px;
			display: block;
			color: $light-gray;
			text-align: center;
			text-transform: uppercase;
			@include font-lato-black;
			position: relative;
			margin-bottom: -15px;
		}
		@include font-lato-light;
		font-size: 46px;
		text-align: center;
		text-transform: uppercase;
		margin: 20px 0 0;
		letter-spacing: -1px;
		@media #{$media-xs} {
			font-size: 36px;
		}
	}
	.product-opt-x {
		width: 100%;
	}
	.list-stat {
		text-align: center;
		padding: 20px 0;
		margin-top: 20px;
		margin-bottom: 0;
		border-top:1px solid $lighten-gray;
		li {
			font-size: 32px;
			span {
				font-size: 16px;
				color: $gray;
				margin-right: 5px;
			}
			@media #{$media-xs} {
				font-size: 20px;
			}
		}
	}
	.dispensary-logo {
		text-align: center;
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom:1px solid $lighten-gray;
	}
	p {
		font-size: 18px;
		line-height: 1.6;
		@media #{$media-xs} {
			margin-bottom: 30px;
		}
		@media #{$media-sm} {
			margin-bottom: 30px;
		}
	}
	.carousel-control {
		background: none;
		width: 25px;
		height: 25px;
		top: 45%;
		@include opacity(0.75);
		img {
			vertical-align: top;
		}
		&.left {
			margin-left: 25px;
		}
		&.right {
			margin-right: 25px;
		}
	}
	@media #{$media-xs} {
		.select2 {
			margin: 10px 0 15px;
		}
		.btn-center {
			text-align: center;
			margin-top:15px;
			.btn {
				margin-bottom: 15px;
			}
		}
		.carousel {
			.item {
				img {
					width: 100%;
				}
			}
		}
	}
	@media #{$media-sm} {
		.select2 {
			margin: 0 0 15px;
		}
		.btn-center {
			text-align: center;
			.btn {
				margin-bottom: 15px;
			}
		}
		.carousel {
			.item {
				img {
					width: 100%;
				}
			}
		}
	}
}

@media #{$media-xs} {
	.xs-pdlr0 {
		padding-left:0;
		padding-right:0;
	}
}
@media #{$media-sm} {
	.sm-pdlr0 {
		padding-left:0;
		padding-right:0;
	}
}