.profile-tabs {
	.nav-tabs {
	  border-bottom: none;
	  text-align: center;
	  > li {
	    float: none;
	    display: inline-block;
	    margin-bottom: 0px;

	    > a {
	      margin-right: 0px;
	      border: none;
	      border-radius: 0;
	      color: $gray;
	      padding: 25px 15px;
	      @include font-lato-black;
	      text-transform: uppercase;
	      letter-spacing: 1px;
	      &:hover {
	        border-color: transparent;
	      }
	      @media #{$media-xs} {
	      	padding: 16px 8px;
	      	font-size: 12px;
	      }
	    }

	    &.active > a {
	      &,
	      &:hover,
	      &:focus {
	        color: $base-color;
	        background-color: transparent;
	        border: none;
	        border-bottom-color: transparent;
	        cursor: default;
	      }
	    }
	  }
	}

	.tab-content {
		background: #fff;
		padding: 40px 0;

		#settings {
			.thumbnail {
				@include thumbnail-nostyle;
				.img-wrap img {
					width: 100%;
					height: 300px;
					@media #{$media-xs} {
						height: 150px;
					}
					@media #{$media-sm} {
						height: 225px;
					}
				}
				.pencil-icon {
					float: right;
				}
				.caption {
					margin: 20px 0;
					text-align: center;
					.list-unstyled {
						li {
							margin-bottom: 20px;
						}
					}
				}
				@media #{$media-xs} {
					@include clearfix;
					.img-wrap {
						max-width: 45%;
						float: left;
						margin-right: 20px;
					}
					.caption {
						margin: 10px 0;
					}
				}
			}
			.user-details {
				li {
					position: relative;
					padding: 10px 0;
					border-top:1px solid #eeeeee;
					&:last-child {
						border-bottom:1px solid #eeeeee;
					}
					p {
						margin: 0;
						@include font-fjalla-reg;
						text-transform: uppercase;
						font-size: 32px;
						position: relative;
						margin-top: -5px;
					}
					label {
						margin: 0;
						color: $gray;
						font-size: 19px;
						font-weight: 400;
					}
					.pencil-icon,
					.update-card {
						position: absolute;
						right: 20px;
						bottom: 20px;
					}
					@media #{$media-xs} {
						p {
							font-size: 24px;
						}
						.update-card {
							position: static;
						}
					}
				}
			}
			@media #{$media-xs} {
				#uploadPicture {
					padding: 5px !important;
					.btn-primary,
					.btn-primary-outline {
						width: 100%;
						text-transform: capitalize;
						font-size: 100%;
					}
				}
			}
		}

		#my-orders {
			.order-details {
				position: relative;
				&::before {
					content:"";
					background:$lighten-gray;
					height: 1px;
					width: 100%;
					position: absolute;
					left: 0;
					right: 0;
					margin: 35px auto 0;
					@media #{$media-xs} {
						display: none;
					}	
				}

				> .row {
					border-bottom: 1px solid $lighten-gray;
					@media #{$media-xs} {
						margin-bottom: 20px;
					}	
					&:first-child {
						.box {
							.title {
								display: block;
							}
						}
						.list-action {
							margin-top: 25px;
							@media #{$media-xs} {
								margin-top: 0;
							}	
						}
					}
				}
				.box {
					.title {
						@media #{$media-xs} {
							display: block;
							font-size: 16px;
						}
						display: none;
						color: $gray;
						font-size: 19px;
					}
					.matter {
						padding: 20px 0;
						font-size: 19px;
						@media #{$media-xs} {
							padding: 0 0 10px;
							font-size:16px;
						}
						p {
							margin: 0;
						}
						.order-info {
							.product {
								span {
									font-size: 19px;
								}
								p {
									@include font-fjalla-reg;
									font-size: 32px;
									text-transform: uppercase;
								}
							}
						}
						.list-action {
							text-align: right;
							li {
								margin-bottom: 4px;
								.btn-link {
									color: $brand-primary;
									position: relative;
									padding: 0 15px 0 0;
									border: none;
									background: transparent;
									font-size: 19px;
									text-decoration: none;
									span.ico {
										font-size: 32px;
										line-height: 0.35;
										position: absolute;
										width: 10px;
										height: 20px;
										right: 0;
										top: 6px;
									}
									&:hover,
									&:focus {
										color: $brand-primary-hover;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
