#form-search {
	.input-group {
		.form-control {
			border-radius: 40px 0 0 40px;
			line-height: 30px !important;
			height: 30px !important;
		}
		.input-group-btn {
			.btn {
				border-radius: 0 40px 40px 0;
				border-color: $input-border;
				padding: 4px 8px;
			}
		}
	}
}

// datatable search form
.form-search.dtb {
	.form-group {
		margin: 0;
		position: relative;
		float: right;
		width: 65%;
		#search_dtable {
			border-radius: 50px;
			padding-right: 50px;
			box-shadow: none;
		}
		button {
			position: absolute;
			background: none;
			border: none;
			padding: 5px 12px;
			right: 0px;
			top: 0;
			pointer-events: none;
			border-left: 1px solid #dddddd;
			border-radius: 0;
		}
	}
}