#ui-datepicker-div {
	min-width: 254px;
}
.ll-skin-melon {
	font-size: 14px;
}
.ll-skin-melon .ui-widget {
	background: $base-color;
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
.ll-skin-melon .ui-datepicker {
	padding: 0;
}
.ll-skin-melon .ui-datepicker-header {
	border: none;
	background: transparent;
	font-weight: normal;
	font-size: 14px;
}
.ll-skin-melon .ui-datepicker-header .ui-state-hover {
	background: transparent;
	border-color: transparent;
	cursor: pointer;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
.ll-skin-melon .ui-datepicker .ui-datepicker-title {
	margin-top: .4em;
	margin-bottom: .3em;
	color: $base-color;
}
.ll-skin-melon .ui-datepicker .ui-datepicker-prev-hover,
.ll-skin-melon .ui-datepicker .ui-datepicker-next-hover,
.ll-skin-melon .ui-datepicker .ui-datepicker-next,
.ll-skin-melon .ui-datepicker .ui-datepicker-prev {
	top: .9em;
	border:none;
}
.ll-skin-melon .ui-datepicker .ui-datepicker-prev-hover {
	left: 2px;
}
.ll-skin-melon .ui-datepicker .ui-datepicker-next-hover {
	right: 2px;
}
.ll-skin-melon .ui-datepicker .ui-datepicker-next span,
.ll-skin-melon .ui-datepicker .ui-datepicker-prev span {
	background-image: url(../img/ui-icons_ffffff_256x240.png);
	background-position: -32px 0;
	margin-top: 0;
	top: 0;
	font-weight: normal;
}
.ll-skin-melon .ui-datepicker .ui-datepicker-prev span {
	background-position: -96px 0;
}
.ll-skin-melon .ui-datepicker table {
	margin: 0;
}
.ll-skin-melon .ui-datepicker th {
	padding: 1em 0;
	color: #ccc;
	font-size: 13px;
	font-weight: normal;
	border: none;
	border-top: 1px solid $base-color;
}
.ll-skin-melon .ui-datepicker td {
	background: $brand-primary;
	border: none;
	padding: 0;
}
.ll-skin-melon td .ui-state-default {
	background: transparent;
	border: none;
	text-align: center;
	padding: .5em;
	margin: 0;
	font-weight: normal;
	color: #fff;
	font-size: 14px;
}
.ll-skin-melon .ui-state-disabled,
.ll-skin-melon .ui-widget-content .ui-state-disabled, 
.ll-skin-melon .ui-widget-header .ui-state-disabled {
	opacity: 1;
    filter: Alpha(Opacity=1);
}
.ll-skin-melon .ui-state-disabled .ui-state-default {
	color: #fba49e;
}
.ll-skin-melon td .ui-state-active,
.ll-skin-melon td .ui-state-hover {
	background: $base-color;
}